body{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.borde_principal{
    background-color: #e1212f;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: 0px auto;
    height: 70px;
}

.barra-sur-occi h1{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-right: 60px;
    
}

.navegador ul{
    float: right;
    margin-right: 150px;
    margin-top: 15px;
}

.navegador ul li a{
    color: white;
}

.navegador ul li a:hover{
    color: black;
}

section{
    height: 450px;
}

article{
    display: grid;
    grid-template-columns: 40% 60%;
}

.img-sur{
    height: 450%;
}
.img-sur figure img{
    width: 100%;
    height: 320px;
    margin-top: 50px;
}
.text-sur{
    height: 450px;
}
.text-sur .tit-sur h1{
    text-align: center;
}
.text-sur .total-text{
    margin-top: 70px;
}

footer{
    background-color: #e1212f;
}
.piesito-pag{
    width: 60%;
    margin: 20px auto;
}
footer address p{
    text-align: center;
    margin: -1px;
    color: #ffff;
}